<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quemsomos</title>
</head>
<body style="background-image: url(../static/fundo2.png);">
    <div>
        <img style="margin: auto; display: inline;" src="../static/logo.png" alt="logo.png">
        <div style="text-align:right">
            <a href="{{url_for('quemsomos')}}" rel="next" target="_self"><button>Quem somos</button></a>
            <a href="{{url_for('index')}}" rel="next" target="_self"><button>Home</button></a>
            <a href="{{url_for('contato')}}" rel="next" target="_self"><button>Contato</button></a>
        </div>
        <br>
        <h2> quem somos?</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima distinctio quidem molestiae dolorem. Atque, at repudiandae a tempore suscipit assumenda facilis enim quod placeat cumque ut totam. Voluptas, quam molestias.</p>
    </div>
    <div>
        <h2> 5 motivos para estudar</h2>
        <p>1. Material sempre atualizado <br> 2.Tablets em sala de aula <br> 3.Professores renomados <br> 4.Universidade bem avaliada <br> 5.Ótima localização </p>
        <hr>
        <h2>Objetivo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio expedita, illo iure cumque repellat totam, quis fugiat placeat deserunt libero quisquam voluptates laboriosam ratione voluptatibus, dolor quaerat autem eos omnis!</p>
    </div>
</body>
</html>